<div class="card border border-info">
  <h3 class="card-header bg-info text-white">Goals</h3>
  <div class="card-block">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let goal of goals">
        <span>{{goal.name}} ({{goal.balance | currency:'INR':'symbol'}} / {{goal.amount | currency:'INR':'symbol'}})</span>
        <div class="float-right">
          <div ngbDropdown class="d-inline-block">
            <a style="font-weight: normal" id="dropdownBasic1" ngbDropdownToggle>Contribute</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" [routerLink]="['/', { outlets: { popup: ['mf-investment-new', goal.id] } }]">
                Mutual Fund
              </button>
              <button class="dropdown-item">PPF</button>
              <button class="dropdown-item">FD</button>
              <button class="dropdown-item">RD</button>
            </div>
          </div>
        </div>
        <ngb-progressbar type="info" [value]="goal.balance" [max]="goal.amount" [striped]="true">
          <span>{{goal.balance * 100 / goal.amount | number:'1.0-0'}}%</span>
        </ngb-progressbar>
      </li>
    </ul>
  </div>
</div>