<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFixedDepositLabel" jhiTranslate="pfmApp.fixedDeposit.home.createOrEditLabel">Create or edit a Fixed Deposit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fixedDeposit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fixedDeposit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.accountNumber" for="field_accountNumber">Account Number</label>
            <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                [(ngModel)]="fixedDeposit.accountNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="fixedDeposit.amount" required />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.openDate" for="field_openDate">Open Date</label>
            <div class="d-flex">
                <input id="field_openDate" type="datetime-local" class="form-control" name="openDate" [(ngModel)]="fixedDeposit.openDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.openDate?.dirty && editForm.controls.openDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.openDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.openDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.maturityDate" for="field_maturityDate">Maturity Date</label>
            <div class="d-flex">
                <input id="field_maturityDate" type="datetime-local" class="form-control" name="maturityDate" [(ngModel)]="fixedDeposit.maturityDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.maturityDate?.dirty && editForm.controls.maturityDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.maturityDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.maturityDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="fixedDeposit.status" id="field_status"  required>
                <option value="OPEN">{{'pfmApp.FDStatus.OPEN' | translate}}</option>
                <option value="CLOSED">{{'pfmApp.FDStatus.CLOSED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.bank" for="field_bank">Bank</label>
            <select class="form-control" id="field_bank" name="bank" [(ngModel)]="fixedDeposit.bankId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankOption.id" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.goal" for="field_goal">Goal</label>
            <select class="form-control" id="field_goal" name="goal" [(ngModel)]="fixedDeposit.goalId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="goalOption.id" *ngFor="let goalOption of goals; trackBy: trackGoalById">{{goalOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.fixedDeposit.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="fixedDeposit.ownerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
