<div class="table-responsive" *ngIf="transactions">
  <table class="table table-striped">
    <thead>
      <tr 
        jhiSort [(predicate)]="predicate" 
        [(ascending)]="reverse" 
        >
        <th></th>
        <th jhiSortBy="date"><span jhiTranslate="pfmApp.transaction.date">Date</span> <span class="fa fa-sort"></span></th>
        <th jhiSortBy="desc">
            <span jhiTranslate="pfmApp.transaction.desc">Desc</span>
            <!-- <span class="fa fa-sort"></span> -->
        </th>
        <th jhiSortBy="accountId">
            <span jhiTranslate="pfmApp.transaction.account">Account</span> 
            <!-- <span class="fa fa-sort"></span> -->
        </th>
        <th jhiSortBy="expenseCategoryId" *ngIf="txTypeId === TxTypes.Expense">
            <span jhiTranslate="pfmApp.transaction.category">
                Category
            </span>
            <!-- <span class="fa fa-sort"></span> -->
        </th>
        <th jhiSortBy="incomeCategoryId" *ngIf="txTypeId === TxTypes.Income">
            <span jhiTranslate="pfmApp.transaction.category">
                Category
            </span>
            <span class="fa fa-sort"></span>
        </th>
        <th jhiSortBy="amount"><span jhiTranslate="pfmApp.transaction.amount">Amount</span> <span class="fa fa-sort"></span></th>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions ;trackBy: trackId">
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/delete'} }]"
                        replaceUrl="true"
                        class="btn btn-outline-danger btn-sm rounded-circle pointer">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
        </td>
        <td>{{transaction.date | date:'dd-MMM-yyyy'}}</td>
        <td>
            <a [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]">
                {{transaction.desc}}
            </a>
        </td>
        <td>
          <div *ngIf="transaction.accountId">
            <a [routerLink]="['../my-account', transaction.accountId  ]" >{{transaction.account.name}}</a>
          </div>
        </td>
        <td *ngIf="transaction.expenseCategoryId">
            <div>
                <a 
                [routerLink]="['../expense-category', transaction.expenseCategoryId  ]" >
                {{transaction.expenseCategory.name}}
                </a>
            </div>
        </td>
        <td *ngIf="transaction.incomeCategoryId">
            <div>
                <a [routerLink]="['../income-category', transaction.incomeCategoryId  ]" >{{transaction.incomeCategory.name}}</a>
            </div>
        </td>
        <td class="text-right">
            {{transaction.amount | currency:'INR':'symbol'}}
        </td>
      </tr>
      </tbody>
  </table>
</div>