<div class="table-responsive" *ngIf="transactions" style="height: 300px; overflow-y: auto">
  <table class="table table-striped">
    <thead>
      <tr 
        jhiSort [(predicate)]="predicate" 
        [(ascending)]="reverse" 
        >
        <th></th>
        <th><span jhiTranslate="pfmApp.transaction.date">Date</span></th>
        <th><span jhiTranslate="pfmApp.transaction.desc">Desc</span></th>
        <!-- <th><span jhiTranslate="pfmApp.transaction.account">Account</span></th> -->
        <th>
            <span *ngIf="!(txTypeId === TxTypes.Investment)" jhiTranslate="pfmApp.transaction.category">Category</span>
            <span *ngIf="txTypeId === TxTypes.Investment" jhiTranslate="pfmApp.goal.detail.title">Goal</span>
        </th>
        <th><span jhiTranslate="pfmApp.transaction.amount">Amount</span></th>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions ;trackBy: trackId">
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/delete'} }]"
                        replaceUrl="true"
                        class="btn btn-outline-danger btn-sm rounded-circle pointer">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
        </td>
        <td>{{transaction.date | date:'dd'}}</td>
        <td>
            <a [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]">
                {{transaction.desc}}
            </a>
        </td>
        <!-- <td>
          <div *ngIf="transaction.accountId">
            <a [routerLink]="['../my-account', transaction.accountId  ]" >{{transaction.account.name}}</a>
          </div>
        </td> -->
        <td *ngIf="transaction.expenseCategoryId">
            <div>
                <a 
                [routerLink]="['../expense-category', transaction.expenseCategoryId  ]" >
                {{transaction.expenseCategory.name}}
                </a>
            </div>
        </td>
        <td *ngIf="transaction.incomeCategoryId">
            <div>
                <a [routerLink]="['../income-category', transaction.incomeCategoryId  ]" >{{transaction.incomeCategory.name}}</a>
            </div>
        </td>
        <td *ngIf="transaction.txType.id===TxTypes.Investment">TODO</td>
        <td class="text-right">
            {{transaction.amount | currency:'INR':'symbol'}}
        </td>
      </tr>
      </tbody>
  </table>
</div>