<div class="card " style="width: 15rem; margin: 20px">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h4 class="card-title">{{account?.name}}</h4>
    <h3 class="card-text">
      {{account?.balance | currency:'INR':'symbol'}}
    </h3>
    <span>
      <button 
        expenseButton 
        class="fa fa-inr btn btn-warning red"
        [routerLink]="['/', { outlets: { popup: ['transaction-new', TxTypes.Expense] } }]"
        title="Expense">
      </button>
      <button 
        incomeButton 
        class="fa fa-plus btn btn-success red"
        [routerLink]="['/', { outlets: { popup: ['transaction-new', TxTypes.Income] } }]"
        title="Income">
      </button>
    </span>
  </div>
</div>
