<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMFPortfolioLabel" jhiTranslate="pfmApp.mFPortfolio.home.createOrEditLabel">Create or edit a MF Portfolio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mFPortfolio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mFPortfolio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.mFPortfolio.folioNumber" for="field_folioNumber">Folio Number</label>
            <input type="text" class="form-control" name="folioNumber" id="field_folioNumber"
                [(ngModel)]="mFPortfolio.folioNumber" required />
            <div [hidden]="!(editForm.controls.folioNumber?.dirty && editForm.controls.folioNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.folioNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.mFPortfolio.amc" for="field_amc">Amc</label>
            <select class="form-control" id="field_amc" name="amc" [(ngModel)]="mFPortfolio.amcId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="aMCOption.id" *ngFor="let aMCOption of amcs; trackBy: trackAMCById">
                    {{aMCOption.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfmApp.mFPortfolio.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="mFPortfolio.ownerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">
                    {{personOption.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
