<p>
  <div class="container">
    <div class="row">
      <jhi-account-widget 
        *ngFor="let account of accounts" 
        [accountId]="account.id"></jhi-account-widget>
      <div>
          <div class="card " style="width: 15rem; margin: 20px">
            <div class="card-body">
              <h4 class="card-title text-center">Total</h4>
              <h3 class="card-text text-right">
                {{totalBalance | currency:'INR':'symbol'}}
              </h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</p>
